# OBSIDIAN_PLUGIN_PATH="path/to/your/obsidian/plugins/folder"
# SUPABASE_URL=http://127.0.0.1:54321 or https://project_id.supabase.co
# SUPABASE_ANON_KEY=some_long_token_taken_from_supabase_dashboard
# SUPABASE_WORKDIR=/full/path/to/packages/database