.roamjs-discourse-live-preview > div > div > .rm-block-main,
.roamjs-discourse-live-preview > div > div > .rm-inline-references,
.roamjs-discourse-live-preview > div > div > .rm-block-children > .rm-multibar {
  display: none;
}

.roamjs-discourse-live-preview > div > div > .rm-block-children {
  margin-left: -4px;
}

.roamjs-discourse-live-preview {
  overflow-y: scroll;
}

.roamjs-discourse-context-title {
  font-size: 16px;
  color: #106ba3;
  cursor: pointer;
}

.roamjs-discourse-context-title:hover {
  text-decoration: underline;
}

.roamjs-discourse-edit-relations {
  border: 1px solid gray;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 400px;
  width: 100%;
  position: relative;
}

.roamjs-discourse-edit-relations > div:focus {
  outline: none;
}

.roamjs-discourse-drawer > .bp3-overlay {
  pointer-events: none;
}

div.roamjs-discourse-drawer div.bp3-drawer {
  pointer-events: all;
  width: 40%;
}

.roam-main {
  position: relative;
}

.roamjs-discourse-condition-source,
.roamjs-discourse-condition-relation,
.roamjs-discourse-return-node,
.roamjs-discourse-return-wrapper {
  min-width: 144px;
  max-width: 144px;
}

.roamjs-discourse-condition-relation,
.roamjs-discourse-return-wrapper {
  padding-right: 8px;
}

.roamjs-discourse-condition-target {
  flex-grow: 1;
  display: flex;
  min-width: 300px;
}

.roamjs-discourse-condition-relation .bp3-popover-target,
.roamjs-discourse-condition-target .roamjs-page-input-target {
  width: 100%;
}

.roamjs-discourse-results-sort button {
  font-size: 10px;
  padding: 0 4px;
}

.roamjs-discourse-results-sort button,
.roamjs-discourse-results-sort .bp3-menu {
  font-size: 10px;
  padding: 0 4px;
  width: 88px;
  max-width: 88px;
  min-width: 88px;
}

.roamjs-discourse-results-sort .bp3-button-text {
  margin-right: 2;
}

.roamjs-discourse-hightlighted-result {
  background: #ffff00;
}

.roamjs-discourse-editor-preview
  > .rm-api-render--block
  > .roam-block-container
  > .rm-block-main,
.roamjs-discourse-editor-preview
  > .rm-api-render--block
  > .roam-block-container
  > .rm-block-children
  > .rm-multibar,
.roamjs-discourse-editor-preview
  > .rm-api-render--block
  > .roam-block-container
  > .rm-block-children
  > .roam-block-container
  > .rm-block-main
  > .controls,
.roamjs-discourse-editor-preview
  > .rm-api-render--block
  > .roam-block-container
  > .rm-block-children
  > .roam-block-container
  > .rm-block-children
  > .rm-multibar {
  visibility: hidden;
}

.roamjs-discourse-editor-preview {
  margin-left: -32px;
  margin-top: -8px;
}

.roamjs-discourse-editor-preview
  > .roam-block-container
  > .rm-block-children
  > .roam-block-container
  > .rm-block-main {
  font-size: 24px;
  font-weight: 700;
}

.roamjs-discourse-editor-preview .rm-block-main {
  pointer-events: none;
}

.roamjs-connected-ref > div {
  display: none;
}

.roamjs-discourse-result-panel {
  width: 100%;
}

.roamjs-attribute-value {
  flex-grow: 1;
  margin: 0 16px;
}

.roamjs-discourse-results-view ul::-webkit-scrollbar {
  width: 6px;
}

.roamjs-discourse-results-view ul::-webkit-scrollbar-thumb {
  background: #888;
}

.roamjs-canvas-dialog .bp3-popover-wrapper,
.roamjs-canvas-dialog .roamjs-autocomplete-input-target,
.roamjs-canvas-dialog textarea,
.roamjs-canvas-dialog input {
  display: inline-block;
  width: 100%;
}

.roamjs-canvas-dialog textarea {
  min-height: 96px;
}

.bp3-tabs.bp3-vertical > .bp3-tab-panel {
  flex-grow: 1;
}
.bp3-popover-wrapper + .referenced-node-autocomplete {
  margin-top: 1rem;
}
