name: PR - Roam To Blob Storage
on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - "apps/roam/**"
      - "packages/tailwind-config/**"
      - "packages/utils/**"
      - "packages/database/**"
      - "packages/ui/**"
env:
  BLOB_READ_WRITE_TOKEN: ${{ secrets.BLOB_READ_WRITE_TOKEN }}
  GITHUB_HEAD_REF: ${{ github.head_ref }}
  GITHUB_REF_NAME: ${{ github.ref_name }}
  SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
  SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.1
          run_install: false

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Deploy
        run: npx turbo run deploy --filter=roam

      - name: Inject & upload source maps to PostHog
        uses: PostHog/upload-source-maps@v0.4.6
        with:
          directory: apps/roam/dist
          env-id: ${{ env.POSTHOG_CLI_ENV_ID }}
          cli-token: ${{ secrets.POSTHOG_CLI_TOKEN }}
          host: ${{ env.POSTHOG_CLI_HOST }}
          project: Roam
          version: ${{ github.sha }} # Optional; falls back to current commit SHA
